# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Test assets
test.wav

# VS Code settings (optional but recommended)
.vscode/

# Secret keys — NEVER commit this
.env
 
# Folders only meant for me
plots/
test_fixtures/

# Credentials.json file for Google Auth
credentials.json
token.json
token_sheets.json